<div [ngStyle]="style" class="editable-component">

  <textarea *ngIf="isActiveInput"
         [(ngModel)]="entity[entityField]"
         [value]="entity[entityField]"
         class="{{className}} mb-0"
         rows="{{rowsw}}"
         cols="{{cols}}"
         (keydown.escape)="cancelUpdate()">
  </textarea>

  <span *ngIf="!isActiveInput"
        class="{{className}} d-inline-block">
    {{entity[entityField]}}
  </span>

  <div class="d-inline-block">
    <button *ngIf="!isActiveInput"
            (click)="isActiveInput = true"
            class="btn btn-sm btn-warning btn-editable">
      Edit
    </button>
    <button *ngIf="isActiveInput"
            (click)="updateEntity()"
            class="btn btn-sm btn-success btn-editable">
      Save
    </button>
    <button *ngIf="isActiveInput"
            (click)="cancelUpdate()"
            class="btn btn-sm btn-secondary btn-editable">
      Cancel
    </button>
  </div>

</div>