@import "variables";

// ============================================================================
// Nav bar

.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .navbar-toggler {
    outline: none;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $main-color;
    font-weight: 500;

    img {
      margin-top: 15px;
      margin-left: -3px;
      height: 20px;
    }
  }

  .nav-item {
    font-size: 14px;
  }
}


.search-container {

  .bnb-search {
    height: 50px;
    width: 250px;
  }

  .btn-bnb-search {
    border-color: $main-color;
    color: $main-color;

    // &:hover, &:focus, &:active {
    //   background-color: transparent;
    //   border-color: $main-color !important;
    //   color: $main-color !important;
    //   box-shadow: none;
    // }
    &:hover, &:focus, &:active {
      background-color: $main-color;
      color: white !important;
      box-shadow: none;
    }
  }
}


// ============================================================================
// Drop-down item

.dropdown-item {
  font-size: 14px;
  color: $main-text-color;


  &:active, &:focus {
    background-color: $main-color;
    color: white;
    outline: none;
  }

  &:hover {
    background-color: $main-color-light;
  }
}