<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{rental.image}}" alt="">
      </div>
      <div class="col-md-6">
        <bnb-map [location]="rental.street + ', ' + rental.city"
                 [locationSubject]="locationSubject">
        </bnb-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="row rental">

          <div class="col-9 col-sm-10">
            <h2 class="rental-type {{rental.category}}">
              Shared 
              <bnb-editable-select [(entity)]="rental"
                                   [field]="'shared'"
                                   [options]="[true, false]"
                                   [className]="'rental-type ' + rental.category"
                                   [style]="{'display': 'inline-block'}"
                                   (entityUpdated)="updateRental(rental._id, $event)">
              </bnb-editable-select>  
              <bnb-editable-select [(entity)]="rental"
                                   [field]="'category'"
                                   [options]="rentalCategories"
                                   [className]="'rental-type ' + rental.category"
                                   [style]="{'display': 'inline-block', 'margin-left': '15px'}"
                                   (entityUpdated)="updateRental(rental._id, $event)">
              </bnb-editable-select>
            </h2>
            <bnb-editable-input [(entity)]="rental"
                                [field]="'title'"
                                [className]="'rental-title'"
                                (entityUpdated)="updateRental(rental._id, $event)">
            </bnb-editable-input>
            <div>
              <bnb-editable-input [(entity)]="rental"
                                  [field]="'street'"
                                  [className]="'rental-street'"
                                  [style]="{'display': 'inline-block'}"
                                  [transformView]="transformLocation"
                                  (entityUpdated)="updateRental(rental._id, $event)">
              </bnb-editable-input> , 
              <bnb-editable-input [(entity)]="rental"
                                  [field]="'city'"
                                  [className]="'rental-city'"
                                  [style]="{'display': 'inline-block'}"
                                  [transformView]="transformLocation"
                                  (entityUpdated)="updateRental(rental._id, $event)">
              </bnb-editable-input>
            </div>
            

            <!-- <h2 class="rental-city">{{rental.city | titlecase }}</h2> -->
            <div class="rental-room-info">
              <span>
                <i class="fa fa-building"></i>
                <bnb-editable-input [(entity)]="rental"
                                    [field]="'bedrooms'"
                                    [className]="'rental-bedrooms'"
                                    [type]="'number'"
                                    [style]="{'display': 'inline-block'}"
                                    (entityUpdated)="updateRental(rental._id, $event)">
                </bnb-editable-input> bedrooms
              </span>
              <span><i class="fa fa-user"></i> {{countBedroomAssets(4)}} guests</span>
              <span><i class="fa fa-bed"></i> {{countBedroomAssets(2)}} beds</span>
            </div>
            <bnb-editable-textarea [(entity)]="rental"
                                [field]="'description'"
                                [className]="'rental-description'"
                                [rows]="'6'"
                                [cols]="'50'"
                                (entityUpdated)="updateRental(rental._id, $event)">
            </bnb-editable-textarea>
            <hr>
            <div class="rental-assets">
              <h3 class="title">Assets</h3>
              <div class="row">
                <div class="col-md-6">
                  <span><i class="fa fa-asterisk"></i> Cooling</span>
                  <span><i class="fa fa-thermometer"></i> Heating</span>
                  <span><i class="fa fa-location-arrow"></i> Iron</span>
                </div>
                <div class="col-md-6">
                  <span><i class="fa fa-desktop"></i> Working area</span>
                  <span><i class="fa fa-cube"></i> Washing machine</span>
                  <span><i class="fa fa-cube"></i> Dishwasher</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 col-sm-2">
            <div class="rental-owner">
              <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="Avatar image">
              <span>{{rental.user.username}}</span>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <bnb-rental-detail-booking [rental]="rental">
        </bnb-rental-detail-booking>
      </div>
    </div>
  </div>
</section>