/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "rental-detail";

html, body, p {
  color: $main-text-color;
}

.clickable {
  cursor: pointer;
}

// ====== Rent styles =========================================================
.apartment {
  color: #A72DA3;
}

.condo {
  color: #D68000;
}

.house {
 color: #BF1818;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

// ====== Error message =======================================================
.alert {
  p {
    margin: 0;
  }
}

// ====== Form styles =========================================================
.bnb-form {
  color: $main-text-color;

  form {
    margin-bottom: 10px;
  }

  h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }

  .image-container {
    position: relative;

    .img-fluid {
      width: 100%;
      border-radius: 5px;
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  label {
    font-size: 12px;
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #F1F1F1;
    padding: 40px;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px;
  }
}


// ====== Buttons =============================================================

.btn-bnb {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  font-size: 20px;

  &:hover, &:focus, &:active {
    background-color: $main-color !important;
    border-color: $main-color !important;
  }
}

.btn-bnb-outline {
  background-color: transparent;
  color: $main-color;
  border: 1px solid $main-color !important;
  font-size: 12px !important;
  padding: 10px 15px !important;

  &:hover {
    background-color: $main-color !important;
    color: white !important;
  }
}


// ====== Editable Components =================================================

.editable-component {
  input {
    max-width: 100%;
  }

  input[type="number"] {
    width: 60px;
  }

  .btn {
    &.btn-editable {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
      color: white;
      font-size: 12px;
    }
  }
}