<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{rental.image}}" class="shadow" alt="Rental Image">
      </div>
      <div class="col-md-6">
        <div class="shadow">
          <bnb-map [location]="rental.street + ', ' + rental.city"></bnb-map>
        </div>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">

      <div class="col-md-8">
        <div class="row rental">

          <div class="col-9 col-sm-10">
            <h2 class="rental-type {{rental.category}}">{{rental.shared ? "Shared" : "Entire"}} {{rental.category}}</h2>
            <h1 class="rental-title">{{rental.title}}</h1>
            <div>
                <h2 class="rental-street d-inline-block">{{rental.street | titlecase }}</h2>
              <span>, </span>
              <h2 class="rental-city d-inline-block">{{rental.city | titlecase }}</h2>
            </div>
            <div class="rental-room-info">
              <span><i class="fa fa-building"></i>{{rental.bedrooms}} bedrooms</span>
              <span><i class="fa fa-user"></i> {{rental.bedrooms + 4}} guests</span>
              <span><i class="fa fa-bed"></i> {{rental.bedrooms + 2}} beds</span>
            </div>
            <p class="rental-description">
              {{rental.description}}
            </p>
            <hr>
            <div class="rental-assets">
              <h3 class="title">Assets</h3>
              <div class="row">
                <div class="col-md-6">
                  <span><i class="fa fa-asterisk"></i> Cooling</span>
                  <span><i class="fa fa-thermometer"></i> Heating</span>
                  <span><i class="fa fa-location-arrow"></i> Iron</span>
                </div>
                <div class="col-md-6">
                  <span><i class="fa fa-desktop"></i> Working area</span>
                  <span><i class="fa fa-cube"></i> Washing machine</span>
                  <span><i class="fa fa-cube"></i> Dishwasher</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 col-sm-2">
            <div class="rental-owner">
              <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="Avatar image">
              <span>{{rental.user.username}}</span>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <bnb-rental-detail-booking [rental]="rental">
        </bnb-rental-detail-booking>
      </div>
    </div>
  </div>
</section>