<section id="newRental">
  <div class="bnb-form">
    <div class="row">
      <div class="col-md-5 mb-5">
        <h1 class="page-title">Create Rental</h1>
        <form #createRentalForm="ngForm">

          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="newRental.title"
                   type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   required>
          </div>

          <div class="form-group">
            <label for="city">City</label>
            <input [(ngModel)]="newRental.city"
                   type="text"
                   class="form-control"
                   id="city"
                   name="city"
                   required>
          </div>

          <div class="form-group">
            <label for="street">Street</label>
            <input [(ngModel)]="newRental.street"
                   type="text"
                   class="form-control"
                   id="street"
                   name="street"
                   required>
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <select [(ngModel)]="newRental.category"
                    class="form-control"
                    id="category"
                    name="category"
                    required>
              <option [selected]="newRental.category === undefined" disabled>---</option>
              <option *ngFor="let category of rentalCategories"> {{category}} </option>
            </select>
          </div>

          <div class="form-group">
            <bnb-image-upload (imageUploaded)="handleImageUploaded($event)"
                              (imageError)="handleImageError()">
            </bnb-image-upload>
          </div>

          <div class="form-group">
            <label for="bedrooms">Bedrooms</label>
            <input [(ngModel)]="newRental.bedrooms"
                   type="number"
                   class="form-control"
                   id="bedrooms"
                   name="bedrooms"
                   required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="newRental.description"
                      rows="5"
                      type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      required>
            </textarea>
          </div>

          <div class="form-group">
            <label for="dailyRate">Daily Rate</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input [(ngModel)]="newRental.dailyRate"
                     type="number"
                     name="dailyRate"
                     class="form-control"
                     id="dailyRate"
                     name="dailyRate"
                     required>
            </div>
          </div>

          <div class="form-group form-check">
            <input [(ngModel)]="newRental.shared"
                   type="checkbox"
                   class="form-check-input"
                   id="shared"
                   name="shared">
            <label for="shared" class="form-check-label">Shared</label>
          </div>

          <button (click)="createRental()"
                  [disabled]="createRentalForm.invalid || !newRental.image"
                  type="button" 
                  class="btn btn-bnb mt-3">
              Submit
          </button>

        </form>

        <div class="alert alert-danger mt-3" *ngIf="errors.length > 0">
            <p *ngFor="let error of errors">{{error.detail}}</p>
          </div>
      </div>

      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <div class="img-fluid"></div>
        </div>
      </div>
    </div>
  </div>
</section>
