@import 'variables';

.booking {
  padding: 20px;
  border: 1px solid $light-gray-color;

  .should-login {
    text-align: center;
    margin-bottom: 10px;

    .btn-bnb {
      font-size: 14px;
      padding: 15px;
    }
  }

  .btn-reserve {
    font-size: 17px;
    font-weight: 700;
    padding: 13px;
  }

  label {
    font-size:12px;
    font-weight: 300;
    margin-bottom: 0;
  }

  &-price {
    font-size: 22px;
    font-weight: 700;
  }

  &-per-night {
    font-size: 13px;
    font-weight: 300;
  }

  &-note-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &-note-text {
    font-size: 13px;
    font-weight: 300;
  }
}

// Modal
.modal-title {
  font-weight: 700;
  font-size: 24px;

  p {
    font-size: 18px;
  }
}

.modal-body {
  font-style: normal;
  font-size: 15px;

  .modal-body-value {
    font-weight: 700;
  }
  
  p {
    margin: 0;
  }
}

.modal-error {
  margin: 16px;
}


//  Date Picker

.daterangepicker {
  td {
    &.in-range {
      background-color: $main-color-light !important
    }

    &.active {
      background-color: $main-color !important;
      
      &:hover {
        background-color: $main-color !important;
      }
    }

    &.off {
      background-color: white !important;
      color: #999 !important;

      &:hover {
        background-color: white !important;
        color: #999 !important;
      }
    }
  }
}